---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
  .conference-name {
    font-weight: bold;
    color: #A9A9A9;
    font-style: italic; 

  }
</style>

<section id="talks">
  <h2>Talks / Conferences</h2>
  <ul class="talks-list">
    <li>
      <strong>Presentation:</strong> 
      <a href="https://aiche.confex.com/aiche/2024/meetingapp.cgi/Paper/688009" target="_blank">
        Understanding Self-Assembly of Polysulfamides from Molecular Dynamics Simulations Using Atomistically-Informed Coarse Grained Models
      </a> 
      <span class="conference-name"><b>AIChE Fall Meeting</b></span>, 2024
    </li>
    <li>
      <strong>Presentation:</strong> 
      3-min Presentation at <span class="conference-name"><b>Duke University</b></span>, 2024
    </li>
    <li>
      <strong>Poster:</strong> 
      <a href="https://meetings.aps.org/Meeting/MAR24/Session/N00.19" target="_blank">
        Linking Polysulfamide Design to Morphology Using Molecular Simulation and Machine Learning
      </a> 
      <span class="conference-name"><b>APS March Meeting</b></span>, 2024
    </li>
    <li>
      <strong>Presentation:</strong> 
      <a href="https://www.mrs.org/meetings-events/annual-meetings/archive/meeting/presentations/view/2023-mrs-fall-meeting/2023-mrs-fall-meeting-3954739" target="_blank">
        Computational Studies to Understand the Effect of Polysulfamide Designs on Structure and Properties 
      </a> 
      <span class="conference-name"><b>MRS Fall Meeting</b></span>, 2023
    </li>
  </ul>
</section>


<blockquote>
  <i>"Be the change you want to see in the world"</i>
</blockquote>



<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



