---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---


<style>
  .projects {
    padding: 20px 0;
    background-color: #f9f9f9;
  }

  .projects h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }

  .project {
    max-width: 800px;
    margin: 10px auto; /* Reduced margin */
   
    padding: 20px;
    background: white;
    border-left: 5px solid #003366;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .project:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }

  .project h3 {
    font-size: 1.3rem;
    color: #003366;
    margin-bottom: 5px;
    margin-top:-0.3em;
  }

  .project p {
    font-size: 0.95rem;
    line-height: 1;
    color: #444;
    margin-bottom: 10px;
    text-align: justify;
  }

  .project strong {
    color: #000;
  }

  /* Hide paragraphs on small screens
  @media (max-width: 768px) {
    .project {
      max-width: 90%;
      padding: 15px;
    }

    .projects h2 {
      font-size: 1.5rem;
    }

    .project h3 {
      font-size: 1.2rem;
    }

    .project p {
      display: none;
    }
  } */



</style>

<section>

  <div class="project">
    <h3>Synthesis of Quantum Dots</h3>
    <p><strong>With:</strong><i>Satadru Chakrabarty, Prof. Kabeer Jasuja</i></p>
    <p>
      Performed initial experimentation involving the high shear mixing of an organic solvent, acetonitrile (ACN), inside a kitchen blender. After conducting such an experiment, we found that the appearance of ACN had changed from colorless to brownish yellow. The motivation behind this was to understand how an unwanted interaction between a polymeric material and an organic solvent could result in a dispersion of fluorescent carbon quantum dots.
    </p>
  </div>
  
  <div class="project">
    <h3>Smart Sun Visor</h3>
    <p><strong>With:</strong><i>Souritra Garai</i> </p>
    <p>
      We developed a smart sun visor, a small electronic device that sits on the windshield of a car, shielding drivers from sudden or bright sunlight that can cause temporary blindness, turning them into a road hazard. Our invention actively tracks the sun and positions a small disc of light-filtering material on the brightest area of the windshield, intercepting sunlight before it strikes the driver’s eyes.
    </p>
    <p>
      Learned to use Arduino and integrate sensors to create custom electronic solutions. Gained experience in 3D printing techniques, enabling rapid prototyping.
    </p>
    <p><i>Filed patent applications:</i> Filed patent applications for India (No. 201921027106) and the US (EFS Id‑37376706, Application Number ‑ 62911388, Confirmation Number ‑ 1074).</p>
  </div>
</section>



<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
