---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---


<style>
  .projects {
    padding: 20px 0;
    background-color: #f9f9f9;
  }

  .projects h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }

  .project {
    max-width: 800px;
    margin: 10px auto; /* Reduced margin */
   
    padding: 1.3em;
    background: white;
    border-left: 5px solid #003366;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .project:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }

  .project h3 {
    font-size: 1.3rem;
    color: #003366;
    margin-bottom: 5px;
    margin-top:-0.3em;
  }

  .project p {
    font-size: 0.95rem;
    line-height: 1;
    color: #444;
    margin-bottom: 10px;
    text-align: justify;
  }

  .project strong {
    color: #000;
  }

  /* Hide paragraphs on small screens
  @media (max-width: 768px) {
    .project {
      max-width: 90%;
      padding: 15px;
    }

    .projects h2 {
      font-size: 1.5rem;
    }

    .project h3 {
      font-size: 1.2rem;
    }

    .project p {
      display: none;
    }
  } */



</style>

<section>


  <div class="project">
    <h3>Understanding memory utilization in molecular simulation </h3>
    <p><strong>With:</strong> <i> Aaron Jarmusch, Rashik Tiwari  </i></p>
    <p>Computer Architecture course to understand the new field of Computer Architecture, and diving into the world of High-Performance Computing for specialized applications has been eye-opening. This field is new to me, but I’ve gained valuable insights into how cutting-edge technology is reshaping industries. I had the opportunity to collaborate with incredible teammates, Aaron and Rashik, where we explored two key aspects of molecular simulation that impact computer memory. The intersection of chemical engineering and computer architecture is truly fascinating!
    </p>
    <p><i></i> <a href="https://github.com/Jay-Shah1/HandlingSimData/tree/main" target="_blank">Github</a></p>
  </div>



  <div class="project">
    <h3>ATOM Hackathon, UD </h3>
    <p><strong>With:</strong> <i> Giorgi Gvalia, Tatiana Acello-Cuellar, Janiya Davis, Lauren Olsen    </i></p>
    <p>ATOM Modeling Pipeline (AMPL) is an open-source software pipeline for model building, data curation, and molecular property prediction. Our team focused on analyzing the impact of weight decay, a neural network hyperparameter that regularizes models by simplifying them. This technique improves generalization, enhancing model performance on test data.

    </p>
    <p>Won <a href="https://technical.ly/software-development/students-code-real-world-health-solutions-at-atom-hackathon/" target="_blank">Best technical project</a></p>
  </div>

  <div class="project">
    <h3>NRT Hackathon - 3M </h3>
    <p><strong>With:</strong> <i> Aanish Paruchuri, Dillon Belser, Dr. Alex Bourque, Dr. Matthew Mills, Dr. Steven Kong, Dr. Caitlin Race    </i></p>
    <p>Worked with the 3M team to develop a diffusion-based computational workflow for generating artificial (in silico) height maps with tunable design features. This workflow optimizes height maps for target roughness and optical properties.

    </p>
  </div>

  <div class="project">
    <h3>Molecular dynamics and monte carlo course</h3>
    <p><strong>With:</strong> <i> Anushka Biswas, Prof. Mithun Radhakrishna </i></p>
    <p>Graduate-level course where I was introduced to advanced methods in molecular simulation. Learned to write code for different Monte Carlo simulation ensembles in C++. As part of the project, I worked on a Jagla potential-based fluid, implementing Molecular dynamics simulations to study its structural and thermodynamic properties. I analyzed the radial distribution function (RDF) to characterize intermolecular interactions and phase behavior, examining how the Jagla potential influences the system's local ordering and phase transitions.
    </p>
  </div>


  <div class="project">
    <h3>Process Analysis and Simulation of Production of P‑Aminophenol</h3>
    <p><strong>With:</strong> <i> Devanshu Thakkar, Sakshi Baheti, Prof. Chinmay Ghoroi</i></p>
    <p>Simulated the production of para-aminophenol using nitrobenzene and hydrogen as raw materials, developing the entire process for reaction and separation using ASPEN simulation. Additionally, performed an economic analysis of the industrial plant, calculating the payback period and return on investment.
    </p>
    <p><i>Paper:</i> <a href="https://arxiv.org/abs/2110.15750" target="_blank">arXiv link</a></p>
  </div>

  <div class="project">
    <h3>Synthesis of Quantum Dots</h3>
    <p><strong>With:</strong><i> Satadru Chakrabarty, Prof. Kabeer Jasuja</i></p>
    <p>
      Performed initial experimentation involving the high shear mixing of an organic solvent, acetonitrile (ACN), inside a kitchen blender. After conducting such an experiment, we found that the appearance of ACN had changed from colorless to brownish yellow. The motivation behind this was to understand how an unwanted interaction between a polymeric material and an organic solvent could result in a dispersion of fluorescent carbon quantum dots.
    </p>
  </div>
  
  <div class="project">
    <h3>Smart Sun Visor</h3>
    <p><strong>With:</strong><i> Souritra Garai</i> </p>
    <p>
      We developed a smart sun visor, a small electronic device that sits on the windshield of a car, shielding drivers from sudden or bright sunlight that can cause temporary blindness, turning them into a road hazard. Our invention actively tracks the sun and positions a small disc of light-filtering material on the brightest area of the windshield, intercepting sunlight before it strikes the driver’s eyes.
    </p>
    <p>
      Learned to use Arduino and integrate sensors to create custom electronic solutions. Gained experience in 3D printing techniques, enabling rapid prototyping.
    </p>
    <p><i>Filed patent applications:</i> Filed patent applications for India (No. 201921027106) and the US (EFS Id‑37376706, Application Number ‑ 62911388, Confirmation Number ‑ 1074).</p>
    <p><i></i> <a href="https://thebetterindia.com/191042/iit-gandhinagar-innovation-smart-sun-visor-driver-road-safety-india/" target="_blank">The Better India</a></p>
    <p><i></i> <a href="https://indianexpress.com/article/education/iit-students-invent-device-blocking-sun-glare-to-improve-driving-comfort-sun-protect-5877106/" target="_blank">Indian Express</a></p>
  </div>
</section>



<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
