/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: none;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: none;
  color: var(--global-text-color);
}

td {
  padding: 0.5em;
  border-bottom: 1px solid #eee;
  border-right: none;
}

tr, td, th {
  vertical-align: middle;
}